flexbox(direction, justifyContent, alignItems)
  display: flex
  flex-direction: direction
  justify-content: justifyContent
  align-items: alignItems

centerChild()
  display: flex
  justify-content: center
  align-items: center

tblr(top=0, bottom=0, left=0, right=0)
  top top
  bottom bottom
  left left
  right right

.scrollCard__container
  width 800px
  max-width: 90%
  margin 0 auto
  // border 1px solid #000

.scrollCard__header
  width 100%
  margin-bottom: 40px
  font-family: 'Inder'

.scrollCard__title
  text-align: center
  margin 1em 0 0 0

.scrollCard__banner
  display flex
  position relative
  background-color lightblue
  overflow: hidden
  border-radius: 8px
  // box-shadow: inset 0 0 10px #fff, 0 0 10px lightblue
  &::after
    content ''
    position absolute
    top 0
    bottom 0 
    left 0 
    right 0
    box-shadow: inset 0 0 5px 10px #fff
    border-radius: 0px
    pointer-events: none



.scrollCard__cardContainer
  display flex
  padding 2em 2.5em
  cursor grab
  &.grabbing
    cursor grabbing
  


.scrollCard__card
  cursor pointer
  min-width 200px
  height 300px
  border-radius: 16px
  box-shadow: 2px 2px 5px #33333377
  overflow hidden
  &+&
    margin-left: 16px

.scrollCard__image
  width 100%
  height 100%
  object-fit: cover
  // pointer-events: none

.scrollCard__section__title
  margin 1.5em 0 0.5em
  text-align center
  line-height 1.5