.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.header__container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.header__title {
  margin: 1.5em 0;
}
.header__title__h2 {
  font-family: 'Inder';
}
.nav__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(51,51,51,0.314);
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(50%, -50%);
  width: 400px;
  height: 400px;
  box-shadow: 0 0 4px #ccc;
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid #efe;
  background-color: #f9fff9;
  transition: background-color 0.5s;
}
.nav.hide {
  border: 0px solid #efe;
  background-color: #efe;
}
.nav__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.6s ease-in-out;
}
.nav__ul.hide {
  opacity: 0;
  z-index: -1;
}
.nav__li {
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 8px;
}
.nav__li+.nav__li {
  margin-top: 8px;
}
.nav__menuIcon {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s ease-in-out;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menuIcon.hide {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
