* {
  font-family: 'Roboto';
}

ul {
  padding: 0
}

li {
  list-style: none
}

h1 {
  font-size: 24px;
} 
h2 {
  font-size: 20px;
} 
h3 {
  font-size: 18px;
} 
h4 {
  font-size: 16px;
} 
  
code {
  font-family: monospace !important;
}