.switchCard {
  width: 100%;
  height: 100%;
}
.switchCard__demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  min-height: calc(100vh - 68px);
  background: linear-gradient(90deg, #67b26f, #4ca2cd);
  position: relative;
}
.switchCard__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #000;
  height: 80%;
  min-height: 600px;
}
.switchCard__cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  margin: 1em auto;
  position: relative;
}
.switchCard__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(238,238,238,0.533), rgba(170,170,170,0.533), rgba(255,255,255,0.533));
  width: 90%;
  max-width: 450px;
  height: 80%;
  max-height: 600px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px #555;
  padding: 1em 0;
}
.switchCard__card__imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 1.5em;
  margin-bottom: 1em;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.switchCard__card__img {
  height: 100%;
  border-radius: 16px;
}
.switchCard__card__name,
.switchCard__card__description {
  text-align: center;
  margin: 1em 3em;
}
.switchCard__switchButton {
  user-select: none;
  cursor: pointer;
  padding: 0.75em 1.5em;
  background-color: #dddbbb;
  font-weight: 700;
  opacity: 1;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.switchCard__switchButton:active {
  opacity: 0.5;
}
